body {
    background: fixed;
    background-image: url("nature.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position: center center;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

.before {
    position: fixed;
    background-color: aquamarine;
    margin: 150px 0px 60px 340px;
    left: 210px;
    width: 500px;
    height: 350px;
    z-index: 0;
    bottom: 500px;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 40px;
    padding: 40px 50px 50px 50px;
    transition: 0.7s;
    border-radius: 15px;
    white-space: nowrap;
}

select {
    font-size: 208px;
    font-size: max(20px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    /* background-color: #00FFFF; */
    border: 2px solid var(--input-border);
    border-radius: 5px;
}

select {
    display: flex;
    width: 262px;
    margin: 0px;
}

select:focus {
    min-width: 262px;
    width: 262px;
}

.pro {
    position: relative;
    font-size: 30px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    font-weight: bolder;
    font-style: italic;
    align-items: center;
    text-align: center;
    text-decoration: solid;
    text-anchor: middle;
    top: 0px;
    left: 300px;
    margin: 0px 0px 0px 470px;
}

.prod_img {
    position: fixed;
    width: 300px;
    height: 294px;
    background-color: #FA26A0;
    top: 200px;
    left: 1020px;
    border-radius: 15px;
}

.prodi {
    position: fixed;
    right: 394px;
    width: 280px;
    height: 240px;
    border-radius: 5px;
    background-color: #000;
}

.prodi img {
    width: 280px;
    height: 240px;
    border-radius: 5px;
}

.choo {
    position: relative;
    top: -20px;
    left: 30px;
}

.choo_up {
    position: relative;
    top: -20px;
}

.img_up {
    position: absolute;
    top: 294px;
    bottom: 0px;
    left: 80px;
    align-items: center;
}

.selec {
    position: relative;
    left: 100px;
}

#product {
    background-color: #F2C249;
    position: fixed;
    border-radius: 15px;
    padding-top: 10px;
    margin: 90px 0px 0px 10px;
    width: 500px;
    height: 250px;
    top: 180px;
    left: 570px;
    bottom: 0px;
    padding: 20px;
}

.user input {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.text {
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
}

.text1 {
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    font-style: italic;
}

table {
    white-space: nowrap;
}

td {
    text-align: center;
}

.pro {
    position: relative;
    font-size: 30px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    font-weight: bolder;
    font-style: italic;
    align-items: center;
    text-align: center;
    text-decoration: solid;
    text-anchor: middle;
    top: -20px;
    left: -500px;
}

.input {
    font-size: 20px;
    font-size: max(20px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    border: 2px solid var(--input-border);
    border-radius: 5px;
}

.input1 {
    font-size: 32px;
    font-size: max(32px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #ffffff;
    border: 2px solid var(--input-border);
    border-radius: 5px;
}

.new {
    position: fixed;
    align-items: center;
    top: 570px;
    left: 620px;
}

.reset {
    position: relative;
    left: 0px;
    left: 0px;
    align-items: center;
}

.continue {
    position: relative;
    left: 0px;
    top: 0px;
    align-items: center;
}

.cancel {
    position: relative;
    left: 0px;
    top: 0px;
    align-items: right;
}

.reset input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.reset input[type="button"]:hover {
    cursor: pointer;
    cursor: hand;
    background: #ffc107;
    color: #000;
}

.continue input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.continue input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.cancel input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.cancel input[type="button"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.update {
    position: relative;
    left: 150px;
    top: 0px;
    align-items: center;
}

.update input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.update input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}